<h1>Payment with Form results</h1>
<h2>The principal is:</h2>
<h3><%=@principal_string%></h3>
<h2>The APR is:</h2>
<h3><%=@apr_string%></h3>
<h2>The monthly payment is:</h2>
<h3><%=@payment_string%></h3>
