<h1>Random with Form</h1>
<form action = "/random">
<label for = "user_min_id">Minimum</label>
<input id = "user_min_id" name = "user_min" placeholder = "e.g. 1.5"/>
<label for = "user_max_id">Maximum</label>
<input id = "user_max_id" name = "user_max" placeholder = "e.g. 65.7"/>
<button>Pick random number</button>
</form>
