<h1>Square with Form</h1>
<form action = "/square">
<label for = "user_input_id">Enter a number</label>
<input id = "user_input_id" name = "user_input" placeholder = "e.g. 1.5"/>
<button>Calculate square</button>
</form>
